.address{
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.7;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-color);
text-decoration: none;
padding-bottom: 8px;
padding-top: 20px;

 &__list{
  display:flex;
  flex-direction: column;
  text-align: center;
  gap:9px;
  list-style-type: var(--style-list);
  text-decoration: none;
  
 }
 &__link{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
text-align: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;

 }
 &__link:hover, &__link:focus{
  color: var(--brand-color);
  }

}



@media screen and (min-width:1200px){
  

.address{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--primary-color);
padding-top:20px;
padding-bottom:9px;

  &__list{
  display:flex;
  flex-direction: column;
  gap:9px;
  list-style-type: var(--style-list);
  }

  &__link{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color:var(--primary-color);
  color:rgba(255, 255, 255, 0.6);
  }

  &__link:hover, &__link:focus{
  color: var(--brand-color);
  }

  &__link--underline{
  text-decoration-line: underline;
  } 
}}