

.card{
flex-basis: calc((100% - 60px)/3);


  &__part{
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-right:24px;
  }

  &__title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-top:20px;
  padding-bottom: 4px;
  }

  &__paragraph{
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  padding-bottom: 20px;
  }

  &:hover{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
  0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &:hover .overlay__description{
  transform: translateY(-100%);
  }
}