.footer{
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container{
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
    justify-content:center;
    }
}
@media screen and (min-width:768px){

.footer__container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
  
}
}
@media screen and (min-width:1200px){
.footer{
display: flex;
padding-top: 94px;
padding-bottom: 94px;

&__container{
display: flex;
flex-wrap: nowrap;
gap:70px;
justify-content: flex-start;
}
}}

