.footer{
    
    background-color:#2F303A;
    padding-top:60px;
    padding-bottom: 60px;

    &__container{
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
    justify-content:center;
    }
}
@media screen and (min-width:768px){
.footer{

}
.footer__container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
  
}
}
@media screen and (min-width:1200px){
.footer{
display: flex;



&__container{
display: flex;
gap:70px;
}
}}