.lorem{
  padding-bottom:0;

  &__invisible{
    display:none;
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style-type: var(--style-list);
    gap:30px;
  }
  &__icon{
   background-color: #F5F4FA;
   margin-bottom:30px; 
   display:flex;
   justify-content:center;
   padding-block: 25px;
  }
  &__tittle{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  } 
   }

@media screen and(min-width:768px){

.lorem__list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.lorem__card{
  width:354px;
}
  
.lorem__tittle{
text-align:left;
}
}

@media screen and(min-width:1200px){
  
.lorem{
  padding-top:94px;

  &__list{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
  list-style-type: var(--style-list);
  }
  &__card{
    width: 270px;
  }

  &__icon{
  padding: 25px 100px;
  }
}}