.modal-form{
padding-inline:40px;

&__title{
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-top:40px;
margin-bottom:12px;
}

& .fieldset__label{
position: absolute;
top:-20px;
}

&.fieldset__input{
border: 0;
margin-left: 40px;
background-color: transparent;
font-family: Roboto;
font-Weight: 400;
font-Size: 16px;
line-height: 20px;
width: 200px;}

& .textarea__comment{
border: 0;
background-color: transparent;
width: 100%;
padding-left: 16px;
padding-right: 16px;
padding-top: 12px;
resize: none;
position: relative;
}

&__button{
border: 1px solid rgba(255, 255, 255, 0.3);
background-color:var(--brand-color);
border-radius: 4px;
color: var(--primary-color);
font-Weight: 700;
font-Size: 16px;
Line-height: 30px;
display: flex;
align-items: center;
margin: 0 auto;
cursor: pointer;
padding-left: 76px;
padding-right: 76px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 40px;
margin-top:30px;
}
}